---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Tutorial based site</h2>
  <p>Official tutorial based site. https://docs.astro.build/en/tutorial/0-introduction/</p>
  <p>Added TypeScript, solidJS and Netlify form.</p>
</BaseLayout>
